/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(99, 98, 112);
  font-family: "Google Sans", sans-serif;
  color: rgb(235, 222, 222);
}

#content {
  height: 86vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #202043;
  height: 70px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  margin-right: 120px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #e94560;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    color: rgb(235, 222, 222);
}
 
.welcome-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-left: 65px;
  width: 550px;
  height: 90vh;
}

.welcome-information button {
    width: 150px;
    height: 40px;
    background-color: rgb(96, 96, 239);
    border: 1px solid rgb(96, 96, 239);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.welcome-image {
    width: 900px;
}

.welcome-image img {
    height: 600px;
    margin-top: 25px;
    border-radius: 20px;
}

.menu-heading{
  text-align: center;
  margin-top: 30px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.menu-items div {
  min-height: 200px; /* minimum height but can grow */
  border: 1px solid rgb(235, 222, 222);
  background-color: #4b4b6087;
  padding-top: 25px;
}

.menu-items h2 {
  padding-left: 30px;
}

.menu-items p {
  padding-top: 25px;
  padding-left: 30px;
  width: 560px;
}

.about-section{
  min-height: 100%;
}

.about-information{
  text-align: center;
  margin-top: 35px;
  width: 800px;
  margin-left: 355px;
}

.about-information p{
  margin-top: 16px;
  line-height: 1.6;
}

.contact-information{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding-left: 380px;
  padding-top: 30px;
}

.contact-us{
  text-align: center;
  margin-top: 70px;
}



